/* Add here all your CSS customizations */
body .container-lg {
    margin-top: 50px;
    text-align: center;
}
.container {
    margin-top: 50px;
}
.carousel-item {
    width: 100%;
    height: 100%;
    height: 500px;
}
#toptreak {
    width: 100%;
}
#toprow {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 50px;
}

img {
    width: 100%;
    height: 100%;
}
#imgrow {
    width: 300px;
    height: 300px;
}

#textrow {
    width: 300px;
    height: 300px;
}
#divAddList {
    text-align: right;
    vertical-align: bottom;
}
#buttonAddList {
    border-radius: 50%;
}

#imgmapdetail {
    width: 500px;
    height: 500px;
}

/* TREKLIST */
.list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.card {
    margin: auto;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-img-top {
    width: 150px;
    height: 250px;
    align-self: center;
}

.card-img-top:hover {
    opacity: 0.5;
}





